html {
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.WholePage {
  Height: 100%;
  Width: 100%;
  background-image: linear-gradient(to bottom,#f9f9ae, white);
}

.top{
  Display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  border: solid black 5px;
  padding:20px;
  margin: 3px;
  width: 100%;
  
}

.Logo{
  padding: 2px;
 

}

.Logo:hover{
  cursor: pointer;
  border: solid black 3px;
  border-radius: 10px;
    transition: 1s;
    transform: scale(1.1,1.1);
  }

.InsureeaseLogo{
  height: 100%;
  width: 100%;
  max-width: 250px;
  min-width: 100px;
  box-shadow: 5px 5px 5px black;
}


.Button{
  padding: 5px;
  border: solid #edb10c 3px;
  margin-left: 20px;
  margin-top: 28px;
  margin-bottom: 33px;
  width: 10%;
  box-shadow: 5px 5px 5px black;
  min-width: 100px;
}

.Button:hover{
cursor: pointer;
  border: solid black 3px;
border-radius: 15px;
  transition: 1s;
  transform: scale(1.2,1.2);
  
}

.content{
display: flex;
  flex-direction: row;
  border: black solid 3px;  
  text-align: center;
  margin: 4px;
 
}

@media (max-width: 900px ){
.content{
flex-direction: column;
}  
}




.Credential{
  flex: 1;
  border: #161212 solid 3px;
  flex-wrap: wrap;
  Margin: 4px;
}


.c1{

  text-align: left;
  padding-left: 8px;
  padding-top: 10px;
font-size: 40px;
  
}

.c2{

  font-size: 32px;
  text-align: center;
}

.c3{
  padding: 20px;
  padding-top: 40px;
  font-size: 24px;
 
}

.fa-circle-info{
  font-size: 32px;
}







.fa-circle-info:hover{
color: blue;
  cursor: pointer;
   
  transform: scale(1.2,1.2);
  
  
  
}



.Video{
  flex: 3;
  text-align: center;
  margin: 4px;
}


.videoInsert{
  height:100%;
  width: 100%;
margin-right: 10px;
  
}




.show{
  display: block;
}

.noshow{
  display: none;
}


.NCQAContent{
  flex: 3;
  border: black solid 3px; 
  text-align: center;
  margin: 4px;
  flex-wrap: wrap;
  
}

.NCQA{
  Display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}

.NCQADescript{
  flex: 1;
  text-align: left;
  margin-right: 5px;
  padding: 10px;
  font-size: 18px;

  
}

.NCQALogo{
  flex: 3;
}

.Image2{
height: 400px;
  width: 400px; 
}

@media (max-width:900px){
  .Image2{
    height: 200px;
    width: 200px;
  }
}


.testimonialContent{
  flex: 3;
  border: black solid 3px; 
  text-align: center;
  padding-top: 10px;
  margin: 4px;

}

.testimonial{
  Display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.testimonialpict{
  flex: 1;
}


.testimonialDescript{
  flex: 1;
  text-align: left;
  margin-right: 5px;
  padding: 10px;
  font-size: 18px;
  flex-wrap: wrap;
  
}

.Image3{
  height: 300px;
  width: 275px;
}

@media (max-width:850px){

  .Image3{
height: 200px;
    width: 175px;
  }
  .testimonialDescript{
    font-size: 14px;
  }
  
}


.AboutUsContent{
  flex: 3;
  border: black solid 3px; 
  text-align: center;
  padding: 20px;
  margin: 4px;

}



.AboutUs{
  Display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.CEO{
flex: 1;
  
}

.CRO{
flex: 1;
  
}

.Image4{
  height: 400px;
  width: 300px;
}

.Image5{
  height: 400px;
  width: 300px;
}


.contactUsContent{
  flex: 3;
  border: black solid 3px; 
  text-align: left;
 padding-left: 15px;
  padding-bottom: 200px;
font-size: 20px;
  margin: 4px;
  
}





@media (max-width:800px){

  .Image4{
    height: 200px;
    width: 150px;
  }

  .Image5{
    height: 200px;
    width: 150px;

  }

}








