html {
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.WholePage {
  Display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  Height: 100%;
  Width: 100%;
  background-image: linear-gradient(to bottom,yellow, white);
}

.top{
  Display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  border: solid black 5px;
  padding:20px;
  margin: 3px;
  
}

.Logo{
  padding: 2px;
  height: 100px;
  width: 25%;
}

.Logo:hover{
  cursor: pointer;
  }

.InsureeaseLogo{
  height: 100%;
  width: 100%;
}


.Button{
  padding: 5px;
  border: solid #edb10c 3px;
  margin-left: 20px;
  margin-top: 28px;
  margin-bottom: 33px;
  width: 10%;

}

.Button:hover{
cursor: pointer;
  border: solid black 3px;
border-radius: 15px;
  transition: 1s;
  transform: scale(1.2,1.2);
  
}

.content{
display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}




.Credential{
  flex: 1;
  border: black solid 3px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  Margin: 4px;
}




.Text1{
  flex:1;
  font-size: 28px;
  margin-left: 4px;
}

.Text2{
  flex: 1;
  font-size: 36px;
  text-align: right;
  margin-right: 20px;
}

.Text3{
  flex: 1;
  font-size: 36px;
  text-align: center;
}

.Text4{
  flex:1;
  font-size: 36px;
  margin-left: 20px;
  
}


.Video{
  flex: 3;
  border: black solid 3px;  
  text-align: center;
  margin: 4px;
}






